/*==============
01. GENERAL CSS
================*/

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}
body {
  font: 16px/1.6 'Raleway', Arial, Helvetica, sans-serif;
  color: #fff;
  text-align:center;
  background: #222;
}
img {
  border: 0;
  max-width: 100%;
}
html {
  -ms-overflow-style: scrollbar;
}
.alltrans,
.social-icons li a,
.owl-nav > button,
.owl-nav > button:after,
.counter-box,
.about-img:after,
.gallery-img img,
.form-control,
.owl-dot,
.subscribe-row,
.close-btn,
.close-btn:before,
.close-btn:after,
.tag-btn,
.btn {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
a {
  color: #fff;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #fff;
  outline: none;
  text-decoration: underline;
}
@media screen and (-ms-high-contrast:active), (-ms-high-contrast:none) {
  a:active {
    background-color: transparent;
  }
}
p {
  margin: 0 0 20px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin: 0 0 20px;
  font-weight: 600;
  text-transform:uppercase;
}
h1,
h2 {
  font-size: 35px;
}
h3 {
  font-size: 30px;
  font-weight: 600;
}
h4 {
  font-size: 22px;
  font-weight: 600;
}
h5 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 600;
}
h6 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 600;
}
#main {
  padding: 0;
  background: #fff;
}
.no-margin {
  margin: 0 !important;
}
figure {
  margin:0;
}
.opacity-no {
  opacity: 1 !important;
}

video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}
#video:after {
  content: '';
  opacity: 0.75;
  background: #FFA65D; 
  background: -moz-linear-gradient(top, #e07823 0%, #de668e 100%); 
  background: -webkit-linear-gradient(top, #e07823 0%,#de668e 100%); 
  background: linear-gradient(to bottom, #e07823 0%,#de668e 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFA65D', endColorstr='#FFC6D9',GradientType=0 ); 
  position:fixed;
  left:0;
  top:0;
  right:0;
  bottom: 0;
}
.wrapper-background-dark:after {
  background: #222;
  opacity:0.95;
}
.section-inner {
  padding:20px 30px 0;
}
.fp-scrollable {
  height:calc(100vh - 200px) !important;
}
#fp-nav ul li a span {
 display: none;
}

.btn {
  background: #fff;
  color: #222;
  text-align:center;
  line-height:52px;
  padding:0 35px;
  border-radius: 0px;
  text-transform:uppercase;
  font-weight:600;
  border:2px solid transparent;
  border-radius: 10px;
}
.btn:hover, .btn:focus {
  color:#fff;
  border-color:#fff;
  background:none;
}
.btn:focus {
  box-shadow:none;
  outline:none;
}
.btn.btn-xs {
  line-height:34px;
  font-size:12px;
  padding:0 20px;
  font-weight: 500;
}
.btn.btn-outline {
  background:none;
  border-color:#fff;
  color:#fff;
  border-width:1px;
}
.btn.btn-outline:hover, .btn.btn-outline:focus {
  background:#fff;
  color:#222;
}
.btn.btn-dark {
  color: #222;
  border-color: #222;
}
.btn.btn-dark:hover, .btn.btn-dark:focus {
  background: #222;
  color: #fff;
}
.owl-carousel .owl-stage {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.owl-carousel .owl-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 1 0 auto;
}
.preloader {
  background: -moz-linear-gradient(top, #e07823 0%, #de668e 100%); 
  background: -webkit-linear-gradient(top, #e07823 0%,#de668e 100%); 
  background: linear-gradient(to bottom, #e07823 0%,#de668e 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4096ee', endColorstr='#39ced6',GradientType=0 );
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
  text-align: center;
}
.preloader-bounce {
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
}
.preloader-bounce > span {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0.3em;
  display: inline-block;
  vertical-align: middle;
  -webkit-animation: bounce 0.6s infinite alternate;
  animation: bounce 0.6s infinite alternate;
  background: #fff;
}
.preloader-bounce > span:nth-child(2){
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  background: #fff;
}
.preloader-bounce > span:nth-child(3){
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  background: #fff;
}

@-webkit-keyframes bounce {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-1.2em);
    transform: translateY(-1.2em);
  }
}

@keyframes bounce {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-1.2em);
    transform: translateY(-1.2em);
  }
}

#fullpage {
  z-index: 99;
}


/*==============
02. HEADER CSS
================*/
#header {
  padding:20px 0;
  position: fixed;
  left:0;
  right:0;
  top:0;
  z-index:999;
}
.container-fluid {
  padding:0 20px;
}
a#logo {
  text-decoration: none;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 700;
}
.navbar {
  padding: 0;
}
.navbar-toggle {
  display:none;
}
.navbar-nav {
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}
.navbar-nav li {
  margin-left: 30px;
}
.navbar-nav li a {
  color:#fff;
  font-size: 15px;
  text-decoration:none;
  display:block;
  font-weight: 500;
  opacity: 0.9;
}
.navbar-nav li a:after {
  content:'';
  display:block;
  height: 2px;
  background:#fff;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform:scale(0);
  transform:scale(0);
  margin-top: 4px;
}
.navbar-nav li a:hover:after, .navbar-nav li.active a:after{
  -webkit-transform:scale(1);
  transform:scale(1);
}
.navbar-nav li a:hover {
  opacity: 1;
}
.navbar-nav li.active a {
  opacity: 1;
}
.collapse:not(.show) {
  display:block;
}

/*===================
03. SOCIAL ICONS CSS
=====================*/
#social-icons {
  padding:0;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right:0;
  z-index: 199;
}
.social-icons {
  margin:0;
  padding:0;
  list-style:none;
}
.social-icons li {
  display: block;
  margin: 1px 0px;
}
.social-icons li a {
  width:50px;
  height:50px;
  display:inline-block;
  line-height:50px;
  text-align:center;
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255,255,255,1);
  font-size:18px;
}
.social-icons .icon {
  width: 17px;
  filter: brightness(0) invert(1);
}

.social-icons .icon:hover {
  filter: none;
}

.social-icons li a:hover {
  color:#1e1e1e;
  background-color: #fff;
}
/*====================
04. WELCOME BLOCK CSS
======================*/
.welcome-box {
  font-size:35px;
  line-height:1.7;
}
.welcome-first{
  font-size: 40px;
  display: block;
  text-transform: uppercase;
  font-weight:400;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.welcome-box p {
  max-width: 620px;
  width:100%;
  margin:0 auto 30px;
  color: #fff;
}
.welcome-title {
  font-weight: 500;
  font-size: 100px;
  margin-bottom: 10px;
  letter-spacing:0.02em;
}
.welcome-title span {
  font-size:36px;
  display:block;
  font-weight:300;
  line-height:1.2;
}
.welcome-box .btn {
  margin-top: 10px;
}
.next-section {
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.next-section span {
  margin-top: 15px;
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}
.next-section i:hover {
  opacity: 1;
}

/*===========
05. ABOUT ME
=============*/
.about-img {
  margin-top: 120px;
  position:relative;
}
.about-img img {
  border-radius: 10px;
  -webkit-box-shadow: 0 0 40px rgba(0,0,0,.3);
  box-shadow: 0 0 40px rgba(0,0,0,.3);
}
.about-contentbox {
  margin-top: 80px;
  text-align:left;
  line-height:1.8;
}
.about-contentbox span {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 300;
}
.about-contentbox h2 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
}

/*===================
Experience Block CSS
=====================*/
.timeline-centered {
  position: relative;
  margin-bottom: 30px; }

.timeline-centered:before, .timeline-centered:after {
  content: " ";
  display: table; }

.timeline-centered:after {
  clear: both; }

.timeline-centered:before, .timeline-centered:after {
  content: " ";
  display: table; }

.timeline-centered:after {
  clear: both; }

.timeline-centered:before {
  content: '';
  position: absolute;
  display: block;
  width: 4px;
  background: #f2f3f7;
  top: 20px;
  bottom: 20px;
  margin-left: 29px; }

.timeline-centered .timeline-entry {
  position: relative;
  margin-top: 5px;
  margin-left: 30px;
  margin-bottom: 10px;
  clear: both; }

.timeline-centered .timeline-entry .timeline-entry-inner {
  position: relative;
  margin-left: 0px; }

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
  display: block;
  width: 40px;
  height: 40px;
  background: #2c98f0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  -moz-box-shadow: 0 0 0 5px #f2f3f7;
  -webkit-box-shadow: 0 0 0 5px #f2f3f7;
  box-shadow: 0 0 0 5px #f2f3f7;
  line-height: 40px;
  float: left; }
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon i {
    color: #fff; }
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.color-2 {
    background: #ec5453; }
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.color-3 {
    background: #f9bf3f; }
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.color-4 {
    background: #a84cb8; }
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.color-5 {
    background: #2fa499; }
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.color-none {
    background: #fff;
    width: 20px;
    height: 20px;
    margin-left: 10px; }

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
  background: #f2f3f7;
  position: relative;
  color: #000;
  padding: 1.5em;
  margin-left: 60px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box; }

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label ul {
  padding-left: 0; 
  list-style-position: inside; 
  text-align: left; 
}
  
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label ul li {
  margin-bottom: 10px; 
}
  

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 9px 9px 0;
  border-color:transparent #f2f3f7;
  left: 0;
  top: 10px;
  margin-left: -9px; }

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p + p {
  margin-top: 15px; }

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 {
  font-size: 20px;
  font-family: "Quicksand", Arial, sans-serif;
  font-weight: 500; }

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 a {
  color: #000; }

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 span {
  -webkit-opacity: .4;
  -moz-opacity: .4;
  opacity: .4;
  -ms-filter: alpha(opacity=40);
  filter: alpha(opacity=40);
  font-size: 16px; }

  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h3 {
    font-size: 16px;
    font-family: "Quicksand", Arial, sans-serif;
    font-weight: 600; 
    color: #000; 
    text-align: left }

/*=================
07. WORK BLOCK CSS
===================*/

.gallery-section {
  text-align: center;
}

.portfolio-item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  width: 290px;
  margin: 10px;
}

.portfolio-item img {
  width: 100%;
  height: 500px; 
  object-fit: cover; 
  border-radius: 10px;
  transition: all 0.4s ease;
}

.portfolio-item .thumb-inner {
  position: absolute;
  z-index: 99;
  bottom: 0;
  text-align: left;
  padding: 10px;
  background-color: rgba(250, 250, 250, 0.25);
  width: 100%;
  height: 60px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  transition: all 0.4s ease;
}

.portfolio-item .thumb-inner h4 {
  margin-bottom: 0;
  font-size: 16px;
  margin-top: 0;
}

.portfolio-item .thumb-inner h4 a {
  color: #000;
}

.portfolio-item .thumb-inner p {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  margin-bottom: 0;
}

.portfolio-item:hover .thumb-inner p {
  position: relative;
  opacity: 1;
  visibility: visible;
  color: #4a4a4a;
}

.portfolio-item:hover .thumb-inner {
  border-radius: 10px;
  height: 100%;
  background-color: rgba(250, 250, 250, 0.9);
}

.portfolio-item:hover .thumb-inner h4 {
  margin-top: 10%;
  color: #1e1e1e;
  margin-bottom: 20px;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2em;
  cursor: pointer;
  z-index: 1000;
  color: #333;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

.github-button {
  position: absolute;
  top: 20px;
  right: 15px;
  padding: 5px 10px;
  background-color: #ddcec4;
  color: #000;
  text-decoration: none;
  font-size: 12px;
  border-radius: 2px;
  transition: background-color 0.3s ease;
  z-index: 100;
}

.github-button:hover {
  background-color: #e07823;
}



/*====================
08. CONTACT BLOCK CSS
======================*/
::-webkit-input-placeholder {
  color:#fff !important;
  opacity:1;
}
::-moz-placeholder {
  color:#fff !important;
  opacity:1;
}
:-ms-input-placeholder {
  color:#fff !important;
  opacity:1;
}
:-moz-placeholder {
  color:#fff !important;
  opacity:1;
}
.input-field {
  margin-bottom:15px;
}
.form-control {
  height: 50px;
  color:#fff;
  border: none;
  background:rgba(250,250,250,0.05);
  border: 1px solid rgba(250,250,250,0.5);
  border-radius: 10px;
  padding:4px 22px;
  font-size:14px;
  margin-bottom: 30px;
}
.form-control:focus {
  box-shadow:none;
  outline:none;
  background:rgba(0,0,0,0.05);
  border: 1px solid rgba(250,250,250,1);
  color:#fff;
}
.index .form-control.form-control-dark {
  background: rgba(250,250,250, 0.75);
  color: #fff;
}
.index .form-control.form-control-dark:focus {
  background: rgba(54, 40, 158, 0.85);
  color: #fff;
}
.index .form-control.form-control-dark::-webkit-input-placeholder {
  color: #fff !important;
}
.index .form-control.form-control-dark::-moz-placeholder {
  color:#fff !important;
}
.index .form-control.form-control-dark:-ms-input-placeholder {
  color:#fff !important;
}
.index .form-control.form-control-dark:-moz-placeholder {
  color:#fff !important;
}
.form-control.form-control-dark:focus {
  background: rgba(0, 0, 0, 0.2);
}
.form-control.form-control-dark {
  background: rgba(0, 0, 0, 0.1);
  color: #222;
  border: none;
}
.form-control.form-control-dark::-webkit-input-placeholder {
  color:#222 !important;
  opacity:0.7;
}
.form-control.form-control-dark::-moz-placeholder {
  color:#222 !important;
  opacity:0.7;
}
.form-control.form-control-dark:-ms-input-placeholder {
  color:#222 !important;
  opacity:0.7;
}
.form-control.form-control-dark:-moz-placeholder {
  color:#222 !important;
  opacity:0.7;
}
textarea.form-control {
  height:123px;
  padding-top:15px;
}
.contact-section .btn {
  width:100%;
}
.contact-box {
  text-align:left;
}
.contact-box h4 {
  font-size:24px;
}
.contact-box h4:after {
  content:'';
  display:block;
  width:50px;
  height:2px;
  background:#fff;
  margin:12px 0;
}
.contact-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
  background: rgba(250,250,250,0.25);
  border-radius: 10px;
  padding: 30px;
  font-weight: 700;
}
.contact-row i {
  width:55px;
  font-size: 30px;
  display:block;
}
.contact-row i.fa-envelope {
  font-size: 25px;
}

/*===================
10. SKILLS BLOCK CSS
=====================*/
.skills-row {
  margin-top: 80px;
}
.skill-item {
  border-bottom: 1px solid rgba(250,250,250,0.1);
  margin-bottom: 20px;
  padding-bottom: 50px;
}
.last-skill {
  border-bottom: none;
}
.skills-row span {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: #fff;
  color: #1e1e1e;
  border-radius: 50%;
  font-size: 16px;
  font-weight: 700;
  left: 0;
  top: -21px;
  position: absolute;
  z-index: 999;
}
.skills-row h6 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  text-align: right;
  margin-bottom: -10px;
}
.skill-bar {
  width: 70%;
  height: 6px;
  border-radius: 3px;
  background-color: rgba(250,250,250,0.25);
  position: relative;
}
.filled-bar {
  position: absolute;
  z-index: 99;
  width: 90%;
  height: 6px;
  background-color: #fff;
  border-radius: 3px;
}
.filled-bar-1 {
  position: absolute;
  z-index: 99;
  width: 60%;
  height: 6px;
  background-color: #fff;
  border-radius: 3px;
}
.filled-bar-2 {
  position: absolute;
  z-index: 99;
  width: 85%;
  height: 6px;
  background-color: #fff;
  border-radius: 3px;
}

.filled-bar-3 {
  position: absolute;
  z-index: 99;
  width: 90%;
  height: 6px;
  background-color: #fff;
  border-radius: 3px;
}

.filled-bar-4 {
  position: absolute;
  z-index: 99;
  width: 80%;
  height: 6px;
  background-color: #fff;
  border-radius: 3px;
}

.filled-bar-5 {
  position: absolute;
  z-index: 99;
  width: 85%;
  height: 6px;
  background-color: #fff;
  border-radius: 3px;
}

.filled-bar-6 {
  position: absolute;
  z-index: 99;
  width: 75%;
  height: 6px;
  background-color: #fff;
  border-radius: 3px;
}
.filled-bar-7 {
  position: absolute;
  z-index: 99;
  width: 60%;
  height: 6px;
  background-color: #fff;
  border-radius: 3px;
}
.filled-bar-8 {
  position: absolute;
  z-index: 99;
  width: 70%;
  height: 6px;
  background-color: #fff;
  border-radius: 3px;
}
